%h1 Clientenbeheer

.vakje
  %table
    %thead
      %tr
        %th name
        %th email
        %th rollen
        %th oefeningen #
        %th actions
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.roles.to_sentence
          %td= user.exercises.count
          %td{:style=>"text-align:right"}
            = link_to "/admin/users/#{user.id.to_s}", :class=>"action-buttons" do
              %i.fas.fa-eye
            &nbsp;
            = link_to "/admin/impersonate/#{user.id.to_s}", :class=>"action-buttons" do
              %i.fas.fa-user-secret
            &nbsp
            = link_to edit_admin_user_path(user), :class=>"action-buttons" do
              %i.fas.fa-edit
            &nbsp
            = link_to "/admin/users/#{user.id.to_s}", :class=>"action-buttons", method: :delete, data: { confirm: 'Are you sure?' } do
              %i.fas.fa-trash-alt

  %br

%br
%hr
%br
= link_to ' + Maak nieuwe gebruiker', new_admin_user_path, :class => "btn btn-turq"
