%h1 Clientenbeheer

.vakje
  %table
    %thead
      %tr
        %th startdatum
        %th logopedist
        %th= t('common.name')
        %th= t('common.email')
        //%th= t('common.roles')
        %th
          = t('common.exercices')
          \#
        %th
          afgerond
          \#
        %th{:colspan => "3",:style=>"min-width:90px;"}= t('common.actions')
    %tbody
      - @clients.each do |user|
        %tr
          %td{:style=>"text-align:center"}= l(user.created_at, :format => :short)
          %td= user.logopedist.full_name unless user.logopedist.nil?
          %td= user.name
          %td= user.email
          /%td= user.roles.to_sentence
          /%td{:style=>"text-align:center"}= user.exercises.count
          %td{:style=>"text-align:center"}= user.exercises.where(:claimed_award => false).count
          %td{:style=>"text-align:center"}= user.exercises.where(:claimed_award => true).count
          %td{:style=>"text-align:center"}
            = link_to "/admin/clients/#{user.id.to_s}", :class=>"action-buttons", :alt=>"bekijk client", :title=>"bekijk client" do
              %i.fas.fa-eye
            /&nbsp;
            /= link_to "/admin/impersonate/#{user.id.to_s}", :class=>"action-buttons" do
            /    %i.fas.fa-user-secret
            &nbsp;
            = link_to edit_admin_user_path(user), :class=>"action-buttons", :alt=>"bewerk client", :title=>"bewerk client" do
              %i.fas.fa-edit
            &nbsp;
            = link_to "/admin/users/#{user.id.to_s}", :class=>"action-buttons", :alt=>"verwijder client", :title=>"verwijder client", method: :delete, data: { confirm: t('common.are_you_sure') } do
              %i.fas.fa-trash-alt
            &nbsp;
            = link_to "/admin/reset_password_email/#{user.id.to_s}", :class=>"action-buttons", :alt=>"reset wachtwoord", :title=>"reset wachtwoord" do
              %i.fas.fa-envelope
            &nbsp;

  %br

%br
%hr
%br
= link_to t('admin.clients.add_new_client'), '/admin/clients/new', :class => "btn btn-turq"
