- preset = lookup_exercies(exercise.preset)
- if exercise.claimed_award
  %li

    .btn-group{:style=>"float:right"}
      =# link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' }
      = link_to "/remove_exercise/#{exercise.id}", method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger pull-right" do
        %i.fa.fas.fa-trash
      &nbsp;
      = link_to "/exercises/#{exercise.id}/edit", :class => "btn btn pull-right" do
        %i.fa.fas.fa-edit

      &nbsp;
      = link_to "/app/oefening/#{exercise.id}", :target=>"_blank", :class => "btn btn pull-right" do
        %i.fa.fas.fa-eye


    %b= preset[I18n.locale.to_s]["naam"]
    (
    = t('common.completed')
    )
- else
  %li

    .btn-group{:style=>"float:right"}
      = link_to "/remove_exercise/#{exercise.id}", method: :delete, data: { confirm: t('common.are_you_sure') }, :class => "btn btn-danger pull-right" do
        %i.fa.fas.fa-trash
      &nbsp;
      = link_to "/exercises/#{exercise.id}/edit", :class => "btn btn pull-right" do
        %i.fa.fas.fa-edit

      &nbsp;
      = link_to "/app/oefening/#{exercise.id}", :target=>"_blank", :class => "btn btn pull-right" do
        %i.fa.fas.fa-eye


    .content{:style=>""}
      .thumbnail{:style=>""}
        %image{:src=> preset[I18n.locale.to_s]["thumbnail"], :width=>"200px"}

      .tekst{:style=>""}
        %h3= preset[I18n.locale.to_s]["naam"]
        .description= preset[I18n.locale.to_s]["doel"]


      .score
        - width = 100.0

        .progress-bar
          - addToday = exercise.frequency - exercise.achieved_array_today.sum
          - exercise_total = exercise.target * exercise.frequency
          - Array.new(exercise_total).each_with_index do |i, index|

            - if exercise.achieved_array[index] == 0
              .progress-tic.green{:style=>"width:#{ width / exercise_total }%;"}

            - elsif exercise.achieved_array[index] == 1
              .progress-tic.lightgreen{:style=>"width:#{ width / exercise_total }%;"}

            - elsif addToday > 0 && exercise.completed_for_the_day == false
              -# left_today = exercise.frequency - exercise.achieved_array_today.sum
              - addToday = addToday - 1
              .progress-tic.orange{:style=>"width:#{ width / exercise_total }%;"}

            - else
              .progress-tic.hollow{:style=>"width:#{ width / exercise_total }%;"}

        - unless exercise.completed
          .moving_total{:style=>"margin-left: calc( #{ exercise.achieved_array.count * ( width / exercise_total )}% - 4px );"}
            = exercise.achieved_array.sum
    /%br
    /= link_to "zet herinnering", "/view_exercise/#{exercise.id}", :class => "btn btn-danger"
    /= datetime_field_tag "reminder_date", (DateTime.now() + 36.hours).strftime("%Y-%d-%mT%H:%M")

    /%br
    /%br
    /%br
    /8 van
    /= number_field_tag "oefening_herhalingen", 12
