%h1 Voicebuddy dashboard
.welcome
  Welkom #{current_user.email} #{current_user.id} #{current_user.roles}

.clients
  %h3
    Uw clienten
    %small (laatste 10)

  - User.where(:logopedist => current_user).to_a[0..10].each do |client|
    *
    = client.full_name
    = client.email
    = client.exercises.count
