%p#notice= notice
%h1= t('common.speech_therapists')

.filters
  .pull-right{:style=>"float:right;"}
    %input#search_input{:value=>@search}
    %button#search search

  %p
    Page:
    %b= @page * PER_PAGE
    \/
    %b= @total


%table
  %thead
    %tr
      %th= t('common.name')
      %th= t('common.email')
      %th= t('common.roles')
      %th  clients
      %th  last sign_in
      %th{colspan: "4"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.roles.to_sentence
        %td= User.where(:logopedist => user).count
        %td= user.last_sign_in_at
        %td= link_to t('common.show'), "/admin/users/#{user.id.to_s}"
        %td= link_to t('common.impersonate'), "/admin/impersonate/#{user.id.to_s}"
        %td= link_to t('common.edit'), edit_admin_user_path(user)
        %td= link_to t('common.destroy'), "/admin/users/#{user.id.to_s}", method: :delete, data: { confirm: 'Are you sure?' }

%br  
  = render "/admin/partials/pagination", :pagination_for => "logopedisten"
  
%br

%br
%hr
%br/
= link_to t('common.new'), new_admin_user_path
=# link_to t('common.show'), new_admin_logepedist_path

