%p#notice= notice
%h1= t('common.speech_therapists')

.filters
  .pull-right{:style=>"float:right;"}
    %input#search_input{:value=>@search}
    %button#search search

  %p
    Page:
    %b= @page * PER_PAGE
    \/
    %b= @total


%table
  %thead
    %tr
      %th= t('common.name')
      %th= t('common.email')
      %th= t('common.roles')
      %th  clients
      %th  last sign_in
      %th{colspan: "4"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.roles.to_sentence
        %td= User.where(:logopedist => user).count
        %td= user.last_sign_in_at
        %td= link_to t('common.show'), "/admin/users/#{user.id.to_s}"
        %td= link_to t('common.impersonate'), "/admin/impersonate/#{user.id.to_s}"
        %td= link_to t('common.edit'), edit_admin_user_path(user)
        %td= link_to t('common.destroy'), "/admin/logopedisten/#{user.id.to_s}", method: :delete, data: { confirm: 'Are you sure?' }

%br
.pagination
  .pull-right
    / # move to a pagination partial
    - unless @page == 0
      = link_to t('common.previous'), "/admin/logopedisten/?page=#{@page - 1}"
    - else
      = t('common.previous')
    \|
    - unless @page > @total/(PER_PAGE-1)
      = link_to t('common.next'), "/admin/logopedisten/?page=#{@page + 1}"
    - else
      = t('common.next')
%br

%br
%hr
%br/
= link_to t('common.new'), new_admin_user_path
=# link_to t('common.show'), new_admin_logepedist_path

:javascript
  document.getElementById('search').onclick = function() {
    window.location.search = "?page=0&search=" + document.getElementById('search_input').value
  }

  window.onkeyup = function(evt) {
    console.log(evt.which)
    if (evt.which  == "13" ) {
      window.location.search = "?page=0&search=" + document.getElementById('search_input').value
    }
  }
