%p#notice= notice
%h1= t('common.speech_therapists')
%table
  %thead
    %tr
      %th= t('common.name')
      %th= t('common.email')
      %th= t('common.roles')
      %th{colspan: "4"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.roles.to_sentence
        %td= link_to t('common.show'), "/admin/users/#{user.id.to_s}"
        %td= link_to t('common.impersonate'), "/admin/impersonate/#{user.id.to_s}"
        %td= link_to t('common.edit'), edit_admin_user_path(user)
        %td= link_to t('common.destroy'), "/admin/users/#{user.id.to_s}", method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to t('common.new'), new_admin_user_path
=# link_to t('common.show'), new_admin_logepedist_path
