- preset = lookup_exercies(locals[:exercise].preset)

.award-item
  - score = (locals[:exercise].score * 0.1).round(1)

  .left-column
    .award-icon
      = image_tag "awards/awards VB-01", :width=>"64px" if score >= 55 && score < 75
      = image_tag "awards/awards VB-02", :width=>"64px" if score >= 75 && score < 85
      = image_tag "awards/awards VB-03", :width=>"64px" if score >= 85
      /= image_tag "awards/awards VB-04", :width=>"83px"
      /= image_tag "awards/awards VB-05", :width=>"83px"
      /= image_tag "awards/awards VB-06", :width=>"83px"

  .center-column
    %h3 Score voor
    %h1
      = preset[current_user.language]["naam"]
    %br
    %small.date
      afgerond:
      = l(locals[:exercise].updated_at, :format => :short)


  .right-column
    .score
      = (locals[:exercise].score * 0.1).round(1)
      %span.small %
