- preset = lookup_exercies(exercise.preset)

- if exercise.completed
  - url = "/app/awards/claim/#{exercise.id}/#{@token}"
  - klasses = "oefening_list_item is_completed"
- elsif exercise.completed_for_the_day == "true" || exercise.completed_for_the_day == true
  - url = "#"
  - klasses = "oefening_list_item no-click"
- else
  - url = "/app/oefening/#{exercise.id}/#{@token}"
  - klasses = "oefening_list_item"

= link_to url, :class => klasses, "data-id": exercise.id.to_s do

  // enable this, when the exercise is completed
  .claim_reward

    %h2= preset[current_user.language]["naam"]
    %p
      Je hebt deze oefening afgerond.
      %h4 Haal je prijs op!


  // if completed_for_the_day
  //  dont click

  // if completed
  //  show 'claim reward'

  // else

  .content
    .title
      = preset[current_user.language]["naam"]
      =# exercise.name

    .description= preset[current_user.language]["doel"]
    .preset.hidden= exercise.preset.to_i

  .thumbnail
    - unless preset[current_user.language]["thumbnail"].blank? || preset[current_user.language]["thumbnail"] == "-"
      %pre
        /= current_user.language
      %image{:src=>preset[current_user.language]["thumbnail"], :width=>"200px"}

  // so this is a work in progress
  .stats
    %dl.debug_info
      %dt Target
      %dd= exercise.target
      %dt Achieved
      %dd= exercise.achieved_array
      %dt Completed?
      %dd= exercise.completed
      %dt Frequency
      %dd= exercise.frequency
      %dt Achieved Today
      %dd= exercise.achieved_array_today
      %dt Completed today
      %dd= exercise.completed_for_the_day
      %dt Last progress update
      %dd= exercise.last_progress_update
      %dt Days Ago
      %dd= ( DateTime.now - exercise.last_progress_update.beginning_of_day ).to_i
      %dt Now
      %dd= DateTime.now

    .score
      - width = 100.0

      .progress-bar
        - addToday = exercise.frequency - exercise.achieved_array_today.sum
        - exercise_total = exercise.target * exercise.frequency
        - Array.new(exercise_total).each_with_index do |i, index|

          - if exercise.achieved_array[index] == 0
            .progress-tic.green{:style=>"width:#{ width / exercise_total }%;"}

          - elsif exercise.achieved_array[index] == 1
            .progress-tic.lightgreen{:style=>"width:#{ width / exercise_total }%;"}

          - elsif addToday > 0 && exercise.completed_for_the_day == false
            -# left_today = exercise.frequency - exercise.achieved_array_today.sum
            - addToday = addToday - 1
            .progress-tic.orange{:style=>"width:#{ width / exercise_total }%;"}

          - else
            .progress-tic.hollow{:style=>"width:#{ width / exercise_total }%;"}

      - unless exercise.completed
        .moving_total{:style=>"margin-left: calc( #{ exercise.achieved_array.count * ( width / exercise_total )}% - 4px );"}
          = exercise.achieved_array.sum

  //.arrow_right
