= link_to "/app/oefening/#{exercise.id}/#{@token}", :class => "oefening_list_item" do

  .content
    .title= exercise.name
    .description= exercise.description
    .preset.hidden= EXERCISES[exercise.preset.to_i][:name]

  .thumbnail
    =# image_tag "ilse_screen"
    %image{:src=>exercise["thumb"], :width=>"200px"}

  // so this is a work in progress
  .stats
    %pre.debug_info
      = exercise.completed
      \
      = exercise.target
      \
      = exercise.achieved
      \
      = exercise.frequency
      \
      \
      %b STREAK
      = exercise.streak
      \
      = exercise.complete_streak
      \
      = exercise.streak_expire
      \
      = exercise.streak_target
      \
      = exercise.achieved_in_streak
      %b
      \

    .score
      - if exercise.completed
        Helemaal klaar voor vandaag :)

      -else
      - width = 100.0
      .progress-bar
        - Array.new(exercise.target).each_with_index do |i, index|
          - if exercise.achieved > index
            .progress-tic.green{:style=>"width:#{ width / exercise.target }%;"}

          - elsif exercise.achieved + exercise.achieved_in_streak > index
            /.progress-tic.green{:style=>"width:#{ width / exercise.target }%;"}

          - elsif exercise.achieved + exercise.streak_target > index
            .progress-tic.orange{:style=>"width:#{ width / exercise.target }%;"}

          - elsif exercise.achieved + exercise.frequency > index
            .progress-tic.orange{:style=>"width:#{ width / exercise.target }%;"}

          - else
            .progress-tic.hollow{:style=>"width:#{ width / exercise.target }%;"}


      .moving_total{:style=>"margin-left: calc( #{ exercise.achieved * ( width / exercise.target )}% - 4px );"}
        = exercise.achieved

      //.streak
      //  = exercise.achieved
      //  = exercise.target
      //  = exercise.frequency

    .streak
      - if exercise.streak
        eindigd over
        = time_ago_in_words(DateTime.now.end_of_day)
  .arrow_right
