%br
%br
%center
  = image_tag "logo_medium"

#app_login_container
  %center
    %h2 Verander uw wachtwoord
    = form_for(@user, as: User, url: app_password_path, html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: @user

      %input.hidden#user_reset_password_token{:name=>"user[reset_password_token]", :type=>"hidden", :value=>params[:reset_password_token]}
      .field
        = f.label :password, "Nieuwe wachtwoord"
        %br/
        - if @minimum_password_length
          %em
            (minimaal #{@minimum_password_length} karakters)
          %br/
        = f.password_field :password, autofocus: true, autocomplete: "new-password"
      .field
        = f.label :password_confirmation, "Bevestig nieuw wachtwoord"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "Verander mijn wachtwoord"
    /= render "devise/shared/links"

:css
  .menu {
    display: none;
  }

  #error_explanation {
    color: black;
  }
