#introduction
  .fancy_header Welkom bij

  .stempel
    = image_tag "yes-je bent begonnen-02-smaller"

  %center
    /%pre= @token
    /%pre= @user
    = image_tag "logo_full", :width=>"64%", :class=>"logo"
    %br
    = link_to "En Door... ", "/app/oefeningen/#{@token}"


:javascript
  console.log("request store token #{@token}")
  window.parent.storeClientToken("#{@token}")
