%br
%br
%center
  = image_tag "logo_medium"

#app_login_container
  %br
    #login_message
      = @login_failed || ""

  %h1 LOGIN


  = form_with( url: "/app/new_login" ) do |form|
    = form.hidden_field :token, :value => @token
    = form.hidden_field :time, :value => @time

    %hr
    .form-group
      %label Email
      = form.text_field :email
    %br
    .form-group
      %label Wachtwoord
      = form.password_field :password
    %br
    %br
    %hr
    .actions
      = link_to 'wachtwoord vergeten', 'https://app.voicebuddy.nl/app/forgot_password', :class => "pull-left"

    %br
    %br
    = form.submit "Log in", :class => "pull-right"

    %br
    %br
    %br
    %br
    %br

:css
  .menu {
    display: none;
  }

:javascript
  // window.parent.postMessage("WEB_READY||WEB||message from web app", "*")

  //if (window.location.hash.indexOf('login_failed') != -1) {
  //  document.getElementById('login_message').innerHTML = 'Login Failed!'
  //}

  //document.getElementById('localtoken_display').innerHTML = "456"
  //localtoken = window.parent.token()
  //document.getElementById('localtoken_display').innerHTML = localtoken

  // TEST API
  //fetch('/app/test_api')
  //.then( function(resp) { console.log("response:", resp)} )
  //.then( function(data) {
  //  console.log("API got data: ", data)
    //document.getElementById('test').innerHTML = ' has data ' + data.var1
  //});

  // LOGIN failed message
  // window.location.hash, login_failed
  function receiver(event) {
    console.log("iframe got an event from app:", event.origin, event.data)
    var command = event.data.split("||")[0]
    var source = event.data.split("||")[1]
    var msg = event.data.split("||")[2]
    console.log("command: ", command)
    console.log("source: ", source)
    console.log("message: ", msg)

    if (source == "WEB") {
      console.log("nevermind, its only me.")
      return

    } else {

      console.log("message from APP!")
      // source is APP
      // token_removed_ok?
      // token_set_ok?
      // clientTokenWasFound
      if (command == "SET_TOKEN") {
        console.log("got local token! ", msg)
        // document.getElementById('localtoken_display').innerHTML = msg
      }
    }
  }


  // init
  window.addEventListener('message', receiver, false);
  window.onload = function() {
    console.log("onload!")
    window.parent.postMessage("WEB_READY||WEB||message from web", "*")
    // window.parent.postMessage("SET_TOKEN||WEB||@{client_token}", "")
    // window.parent.postMessage("SET_REMINDER||WEB||datatime, exercise", "")
    // window.parent.postMessage("REMOVE_REMINDER||WEB||reminder_id", "")
  }
