%br
%br
%center
  = image_tag "logo_medium"

%br
  #login_message
%br
%h1 LOGIN

= form_with( url: "/app/new_login" ) do |form|
  = form.hidden_field :token, :value => @token
  = form.hidden_field :time, :value => @time

  %hr
  .form-group
    %label Email
    = form.text_field :email
  %br
  .form-group
    %label Wachtwoord
    = form.password_field :password
  %br
  %br
  %hr
  .actions
    = link_to 'wachtwoord vergeten', 'https://app.voicebuddy.nl/app/forgot_password', :class => "pull-left"
  = form.submit "Log in", :class => "pull-right"

  %br
  %br


  %br
  %br
  %br


:javascript

  fetch('/app/test_api')
  .then( response => response.json())
  .then( function(data) {
    console.log(data)
    //document.getElementById('test').innerHTML = ' has data ' + data.var1
  });

  if (window.location.hash.indexOf('login_failed') != -1) {
    document.getElementById('login_message').innerHTML = 'Login Failed!'
  }
