.fancy_header= t("app.your_profile")
.gradient-edge

.paper
  %br
  %br
  %br

  %dl.user_profile
    %dt Naam
    %dd= current_user.full_name
    %dt Email
    %dd= current_user.email

    %hr
    %dt Voornaam
    %dd= current_user.first_name
    %dt Tussenvoegsel
    %dd= current_user.suffix
    %dt Achternaam
    %dd= current_user.last_name
    %dt geslacht
    %dd= current_user.gender
    %dt geboortedatum
    %dd= current_user.date_of_birth


  =# link_to "verwijder mijn account", "/"
  %br
  =# link_to "uitloggen", destroy_user_session_path, :method => :delete
  %button.pull-right#relogin Opnieuw inloggen
  %br
  %br
  %br
  %hr
  %br

  .list
    .list-item
      .list-header
        %i.arrow.fa.fa-fas.fa-caret-down.pull-right
        Colofon
      .list-content
        %p
          <b>Voice Buddy</b> is ontwikkeld en geproduceerd door Ilse Heus Producties en technisch
          gerealiseerd door Sense Studios. Het is mogelijk gemaakt door het Stimuleringsprogramma
          innovatie logopedie van de NVLF en subsidie van het Damsté-Terpstrafonds
          %br
          %br
          %center
            = image_tag "nvlf_logo", :width => "80%"
            %br
            = image_tag "damste-terpstra-logo", :width => "80%"

        %p
          Daarnaast was deze app er in deze vorm niet geweest zonder de tomeloze inzet van:
          %dl.colofon
            %dt Sense Studios
            %dd Daan Nolen
            %br
            %dt Veejays.com
            %dd Hidde Kros, Lars Berg, VJFlirt en Dominic (van Buul)
            %br
            %dt BROUWSELS
            %dd Robin Schoemaker
            %br
            %dt OORbit
            %dd Huub Krom
          %p
            Hanneke Bax, Tim Bosselaar, Niels Croiset en Jente Jong.

          %p
            Ook een speciale dank aan: Bruno.Auzet, Hydronos, RobertMThomas en
            SoundsExciting voor het beschikbaar stellen van hun audio via freesounds.org.
            En Loek Peters, Nienke SInnema en Anouk Brack voor hun adviezen en oplossingen.

          %small
            We hebben ons uiterste best gedaan om bronnen en de rechthebbende(n) van het
            beeldmateriaal te achterhalen. Wanneer desondanks beeldmateriaal wordt getoond
            waarvan je (mede-)rechthebbende bent, verzoeken je een mail te sturen aan
            <u>info@voicebuddy.nl</u>

    .list-item
      .list-header
        %i.arrow.fa.fa-fas.fa-caret-down.pull-right
        Over de App
      .list-content
        %p
          Op het gebruik van deze app zijn onze algemene voorwaarden en privacy policy van toepassing
          Bekijk de algemene voorwaarden https://www.voicebuddy.nl/algemene-voorwaarden/
          Bekijk de privacy policy https://www.voicebuddy.nl/privacybeleid/

        %h4 disclaimer
        %p
          Alle publicaties en uitingen in deze app zijn beschermd door auteursrecht en
          andere intellectuele eigendomsrechten. Niets uit deze publicaties en uitingen
          mag dan ook worden verveelvuldigd, gedownload, gekopieerd of op een andere
          manier openbaar worden gemaakt zonder dat Voice Buddy hier vooraf schriftelijke
          toestemming voor heeft gegeven.Voor verdere algemene voorwaarden en de privacy
          verklaring verwijzen we je naar de website.

    .list-item
      .list-header
        %i.arrow.fa.fa-fas.fa-caret-down.pull-right
        Technische informatie
      .list-content
        %p
          de volgende informatie is alleen ter kennisgeving,
          het kan zijn dat er naar gevraagd wordt als u problemen ondervind
          of een bug meldt.

        %dl.user_profile
          %dt Current Token
          %dd
            = current_user.authorisation_token
            = link_to "back", "/app/oefeningen/#{current_user.authorisation_token}"
          %dt Current ID
          %dd
            = current_user.id
          %dt Taal
          %dd= current_user.language
          %dt # oefeningen
          %dd= current_user.exercises.count
          %dt lid sinds
          %dd= current_user.created_at

  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br


  :javascript
    document.querySelectorAll(".list-item").forEach(function(elm) {
      elm.onclick = function() {
        if ( elm.classList.contains('active') ) {
          elm.classList.remove('active')
        } else {
          document.querySelectorAll(".list-item").forEach(function(elm2) {
            elm2.classList.remove('active')
          })
          elm.classList.add('active')
        }
      }
    })

    document.getElementById('relogin').onclick = function() {
      console.log("post message")
      window.parent.postMessage('REMOVE_TOKEN||WEB||kk','*');
    }
