- current_exercise = EXERCISES[@exercise.preset-1]

.fancy_header
  /= link_to "/app/oefeningen/#{@token}", :class => "back_btn" do
  /  .arrow_left
  = current_exercise["naam"]
.gradient-edge

.oefening

  // if @
  .video-container
    %video{:src=>current_exercise["content"], 'webkit-playsinline': "true", :playsinline=> "true", :controls => false, :id=>"video_oefening"}
    #play-button.far.fa-lg.fa-play-circle
    #end-container


    /%button#end_video_now to end now


  %h4{:style=>"text-align:center;"}= current_exercise["doel"]
  .push-down

:javascript
  var vid = document.getElementById('video_oefening')

  vid.onclick = function() {
    if ( vid.paused ) {
      vid.play()
    } else {
      vid.pause()
    }
  }

  vid.onplay = function() {
    document.getElementById('play-button').style.display = "none"
  }


  vid.onloadedmetadata = function(e) {
    console.log("== VIDEO got metatada", vid.duration, e)
    document.getElementById('end_video_now').onclick = function(e) {
      vid.currentTime = vid.duration - 2
    }

    vid.play()
  }

  vid.onended = function(e) {
    console.log("== VIDEO on Ended")
    // post to the api that the client has completed a run
    // @exercise
    // https://app.voicebuddy.nl/app/update_exercise/606cbdfea19ea6812d2be46c
    fetch("/app/update_exercise/#{@exercise.id}/#{@token}")
      .then( function(resp) {
        console.log("response:", resp)}
      )
      .then( function(data) {
        console.log("got data", data)
        var results_location = document.getElementById("end-container")
        results_location.innerHTML = `#{render 'app/win_screen'}`
        //results_location.innerHTML = ""
        vid.src = ""
    });
  }
