#index
  .box{:style=>"display:inline-block;max-width:400px;"}
    %h1 Welkom bij Voice Buddy
    %h5
      dé app om volwassen stemcliënten te
      ondersteunen bij het regelmatig doen
      van hun oefeningen.

    %p
      We hebben ons best gedaan om het gebruiksgemak van de app voor zowel
      de cliënt als voor de logopedisten zo groot mogelijk te maken. Mocht je toch
      ergens tegenaan lopen klik dan hier voor de
      <a href="https://www.voicebuddy.nl/veel-gestelde-vragen/">Veel gestelde vragen</a>
      of <a href="https://www.voicebuddy.nl/contact/">hier</a>
      om contact op te kunnen nemen. We streven er naar je vraag binnen 24 uur te kunnen beantwoorden.

    %p
      Deze app is een levend document. Dus mis je oefeningen of andere features? Of vind
      je bepaalde onderdelen juist erg fijn? We waarderen het zeer als je eventuele
      aanmerkingen, tips of ideeën met ons deelt.
      %br
      Dit kan via <a href="https://www.voicebuddy.nl/contact/">deze pagina</a>. Zo kunnen we
      de app steeds meer laten groeien tot een app die voor iedere cliënt en voor iedere
      logopedist zo goed mogelijk in te zetten is in de logopedische behandeling van
      stemcliënten!

    %p
      Hartelijke groet namens het Voice Buddy team,
      %br
      = image_tag "ilse_handtekening", :width => "120px"

  %hr
  %br

  - if current_user
    Hallo gebruiker met email:
    = current_user.email

    = link_to "Ga direct naar uw omgeving", "/"
  - else
    = link_to "inloggen in uw omgeving", "/login"
    %br
    %br
    = link_to "maak nieuwe account aan", "/users/sign_up"

    %br
    %br
    %br

  %hr

  %br
  %br
  %br
