- unless notice.blank?
  %p#id.notice= notice

%h1 Gebruikersbeheer

.vakje
  %table
    %thead
      %tr
        %th{:colspan=>"3"}
    %tbody>
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= user.roles.to_sentence
          %td= link_to 'Show', "/admin/users/#{user.id.to_s}"
          %td= link_to 'Impersonate', "/admin/impersonate/#{user.id.to_s}"
          %td= link_to 'Edit', edit_admin_user_path(user)
          %td= link_to 'Destroy', "/admin/users/#{user.id.to_s}", method: :delete, data: { confirm: 'Are you sure?' }


  %br

%br
%hr
%br
= link_to ' + Maak nieuwe gebruiker', new_admin_user_path, :class => "btn btn-turq"
