<%= form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
        <% exercise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :preset %>
    <%= form.select :preset, EXERCISES.map{|e| [e["naam"],e["id"]] }, {}, {class:'test'} %>
  </div>

  <hr/>

  <div class="field">
    <%= form.label :completed %>
    <%= form.text_field :completed %>
  </div>

  <div class="field">
    <%= form.label :target %>
    <%= form.text_field :target %>
  </div>

  <div class="field">
    <%= form.label :achieved %>
    <%= form.text_field :achieved %>
  </div>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.text_field :frequency %>
  </div>

  <hr>

  <div class="field">
    <%= form.label :streak %>
    <%= form.text_field :streak %>
  </div>

  <div class="field">
    <%= form.label :streak_expire %>
    <%= form.datetime_field :streak_expire %>
  </div>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.text_field :frequency %>
  </div>

  <div class="field">
    <%= form.label :streak %>
    <%= form.text_field :streak %>
  </div>


  <div class="field">
    <%= form.label :streak_expire %>
    <%= form.text_field :streak_expire %>
  </div>

  <div class="field">
    <%= form.label :streak_target %>
    <%= form.text_field :streak_target %>
  </div>

  <div class="field">
    <%= form.label :achieved_in_streak %>
    <%= form.text_field :achieved_in_streak %>
  </div>

  <div class="field">
    <%= form.label :complete_streak %>
    <%= form.text_field :complete_streak %>
  </div>


  <hr/>

  <!--
  <div class="field">
    <%= form.label :afgerond %>
    <%= form.text_field :afgerond %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.text_field :video %>
  </div>

  <div class="field">
    <%= form.label :preset %>
    <%= form.select :preset, EXERCISES.map{|e| [e["naam"],e["id"]] }, {}, {class:'test'} %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  -->
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
