.vakje
  %h1 Wijzig oefening
  oefning hoor bij
  = link_to edit_admin_user_path(@exercise.user) do
    = @exercise.user.full_name
    = @exercise.user.email
  %br

  #{render 'form', exercise: @exercise}

%hr
= link_to 'Bewerk', edit_exercise_path(@exercise)
|
= link_to 'Terug naar alle oefeningen', exercises_path
|
= link_to 'Terug naar de Client', edit_admin_user_path(@exercise.user)
