- unless notice.blank?
  %p#id.notice= notice

%h1 Exercises

.vlakje
  %table
    %thead
      %tr
        %th Name
        %th Afgerond
        %th Video
        %th Description
        %th Preset
        %th{:colspan=>"3"}

    %tbody
      - @exercises.each do |exercise|
        %tr
          %td= exercise.name
          %td= exercise.afgerond
          %td= exercise.video
          %td= exercise.description
          %td= exercise.preset
          %td= link_to 'Show', exercise
          %td= link_to 'Edit', edit_exercise_path(exercise)
          %td= link_to 'Destroy', exercise, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Exercise', new_exercise_path
