<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Afgerond:</strong>
  <%= @exercise.afgerond %>
</p>

<p>
  <strong>Video:</strong>
  <%= @exercise.video %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
