!!! 5
%html{lang: I18n.locale}
  %head
    %title
      VoiceBuddy
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon')
    %link{:rel=>"apple-touch-icon", :sizes=>"128x128", :href=>"/logo_128_touch_icon.png"}

    / Google analytics
    = javascript_include_tag 'https://www.googletagmanager.com/gtag/js?id=G-TZQGK0HWC1'
    :javascript
      <!-- Global site tag (gtag.js) - Google Analytics -->
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-TZQGK0HWC1');

  %body#admin

    .grid-container
      %header.header
        = render partial: '/admin/header'

      - if current_user != true_user
        You (#{true_user.name}) are signed in as #{current_user.name}#{link_to "Back to admin", admin_stop_impersonate_path, method: :post}


      .menu
        = render partial: '/admin/menu'

      .main-content
        - unless notice.blank?
          %p#id.notice= notice

        = yield
