!!! 5
%html{lang: I18n.locale}
  %head
    %title
      VoiceBuddy

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'app/app', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon')

    %link{:rel=>"apple-touch-icon", :sizes=>"128x128", :href=>"logo_128_touch_icon.png"}
    %meta{:name=>"format-detection", :content=>"telephone=yes"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    %meta{:name=>"msapplication-tap-highlight", :content=>"no"}
    %meta{:name=>"color-scheme", :content=>"light"}

  %body#app{'data-token' => @token}

    .app-container

      .main-content
        = yield

      .menu
        = render partial: '/app/bottom_menu'
