!!! 5
%html{lang: I18n.locale}
  %head
    %title
      - unless @exercise.blank?
        = lookup_exercies(@exercise.preset)[current_user.language]["naam"]
      - else
        = @title

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'app/app', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon')

    / Google analytics
    = javascript_include_tag 'https://www.googletagmanager.com/gtag/js?id=G-TZQGK0HWC1'
    :javascript
      <!-- Global site tag (gtag.js) - Google Analytics -->
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-TZQGK0HWC1');

    %link{:rel=>"apple-touch-icon", :sizes=>"128x128", :href=>"logo_128_touch_icon.png"}
    %meta{:name=>"format-detection", :content=>"telephone=yes"}
    %meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    %meta{:name=>"msapplication-tap-highlight", :content=>"no"}
    %meta{:name=>"color-scheme", :content=>"light"}
    %meta{:name=>"turbolinks-visit-control", :content=>"reload"}

  %body#app{'data-token' => @token}

    //%pre DEV!
    .app-container

      - if current_user != true_user
        You (#{true_user.name}) are signed in as #{current_user.name}#{link_to "Back to admin", admin_stop_impersonate_path, method: :post}


      .main-content
        = yield

      .menu
        = render partial: '/app/bottom_menu'
