!!! 5
%html{lang: I18n.locale}
  %head
    %title
      VoiceBuddy
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag asset_path('favicon')
    %link{:rel=>"apple-touch-icon", :sizes=>"128x128", :href=>"logo_128_touch_icon.png"}

    / Google analytics
    = javascript_include_tag 'https://www.googletagmanager.com/gtag/js?id=G-TZQGK0HWC1'
    :javascript
      <!-- Global site tag (gtag.js) - Google Analytics -->
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-TZQGK0HWC1');

  %body#site

    .grid-container
      %header.header
        = render partial: '/site/header'

      .main-content
        /- flash.each do |type, msg|
        /  .alert.alert-info= msg
        - unless notice.blank?
          %p#id.notice= notice

        = yield

      %footer.footer
